/* styles.css */

/* The lower the number after the colour name, the darker the shade */

.teal1 {
    background-color: #00897B;
}
.teal2 {
    background-color: #38b2ac;
}
.teal3 {
    background-color: #4fd1c5;
}
.teal4 {
    background-color: #81E6D9;
}
.teal5 {
    background-color: #A7F3EB;
}

.green1 {
    background-color: #2F855A;
}
.green2 {
    background-color: #38A169;
}
.green3 {
    background-color: #48BB78;
}
.green4 {
    background-color: #68D391;
}
.green5 {
    background-color: #9AE6B4;
}

.bgreen1 {
    border-color: #2F855A;
}
.bgreen2 {
    border-color: #38A169;
}
.bgreen3 {
    border-color: #48BB78;
}
.bgreen4 {
    border-color: #68D391;
}
.bgreen5 {
    border-color: #9AE6B4;
}

.bteal1 {
    border-color: #00897B;
}
.bteal2 {
    border-color: #38b2ac;
}
.bteal3 {
    border-color: #4fd1c5;
}
.bteal4 {
    border-color: #81E6D9;
}
.bteal5 {
    border-color: #A7F3EB;
}

.tgreen1 {
    color: #2F855A;
}
.tgreen2 {
    color: #38A169;
}
.tgreen3 {
    color: #48BB78;
}
.tgreen4 {
    color: #68D391;
}
.tgreen5 {
    color: #9AE6B4;
}

/* When any button with a data group is active, it takes this colour */
.btn-group[data-group] .btn.active {
    background-color: #48BB78;
}

.form-check-input {
    outline: none !important;
    box-shadow: none !important;
    border-color: #2F855A;
}

.form-check-input:checked {
    background-color: #38A169; /* Sets the background color of checked switch when checked */
    border-color: #2F855A;
    outline: none !important;
    box-shadow: none !important;
}

.form-check-input:focus, .form-check-input:not(:focus) {
    border-color: #2F855A;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0dcaf0;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.footer-link, #reviews {
    cursor: pointer;
    text-decoration: underline;
}

.footer-link:hover {
    color: #e0e1e2;
}

#timesToVisitInfo:focus, #timesToVisitInfo:not(:focus), #shareBtn:focus, #shareBtn:not(:focus), #notifyBtn:focus, #notifyBtn:not(:focus), #backBtn:focus, #backBtn:not(:focus), #wildlifeInfoBtn:focus, #wildlifeInfoBtn:not(:focus), #userProfileBtn:focus, #userProfileBtn:not(:focus) {
    border: none !important;
    outline: none !important;
}

.notification.error {
    background-color: #dc3545;
    color: white;
}

.notification.success {
    background-color: #198754;
    color: white;
}

#icon-column {
    width: 20%;
}

.table-responsive td {
    padding: 10px;
}

.table-responsive tbody tr:nth-of-type(odd) {
    background-color: #48BB78!important;
    text-align: center;
}

.table-responsive tbody tr:nth-of-type(even) {
    background-color: #68D391!important;
    text-align: center;
}